<!doctype html>
<html>
<head>
    <title>Order Up!</title>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
</head>
<body>

  <header class="baristaHead">
    <section class="baristaProfile">
      <h2>Orders!</h2>
      <h3>Barista: <%= user.local.firstName %> <%= user.local.lastName %></h3>
      <h3>Email: <%= user.local.email %></h3><br>
      <a href="/logout"><button>Log-Out</button></a>  
    </section>

    <section class="baristaRight">
        <h1 class="tagLine">Coffe beans are actually berries. Not Beans, Berries.</h1>
    </section>
  </header>


  <section class="containerBarista">
            
            <section class="orderFalse">
              <h3>In Progress</h3>
                <% for(let i=0; i<orders.length; i++) { %>
                <%  if( orders[i].complete == false) {  %>
                  <section id="<%= orders[i]._id%>" class="orderPending">
                    <p>Name:</p>
                    <span><%= orders[i].name %></span>
                    <p>Size:</p>
                    <span><%= orders[i].size %></span>
                    <p>Type:</p>
                    <span><%= orders[i].beverage %></span>
                    <p>Creamer:</p>
                    <span><%= orders[i].creamer %></span>
                    <p>Sugar:</p>
                    <span><%= orders[i].sugar %></span>
                    <p>Note:</p>
                    <span><%= orders[i].note %></span>
                    <p>Complete:</p>
                    <span><%= orders[i].complete %></span><br>
                    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  </section>
                <% } } %>
            </section> 
            
            
  

          <section class="orderTrue">
              <h3>Complete</h3>
                  <% for(let i=0; i<orders.length; i++) { %>
                  <% if ( orders[i].complete == true ) {  %>
                    <section id="<%= orders[i]._id%>" class="orderComplete">
                      <p>Barista:</p>
                      <span><%= user.local.firstName %> <%= user.local.lastName %></span>
                      <p>Name:</p>
                      <span><%= orders[i].name %></span>
                      <p>Size:</p>
                      <span><%= orders[i].size %></span>
                      <p>Type:</p>
                      <span><%= orders[i].beverage %></span>
                      <p>Creamer:</p>
                      <span><%= orders[i].creamer %></span>
                      <p>Sugar:</p>
                      <span><%= orders[i].sugar %></span>
                      <p>Note:</p>
                      <span><%= orders[i].note %></span>
                      <p>Complete:</p>
                      <span class="<%= orders.complete%>"><%= orders[i].complete %></span><br>
                      <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                      <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                    </section>
                  <% }} %>
            </section> 
          
</section>

 
<script src="main.js"></script>

</body>
</html>